@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0px 20px;
  margin: 0 auto;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #ff2020;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

::selection {
  background-color: var(--bs-red);
  color: white;
}

.select_nav {
  color: var(--bs-red);
  font-weight: 600;
}

/* header_top */
.header_top {
  border-bottom: 1px solid #edeff2;
}

.top_head {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: var(--bs-dark);
  padding: 8px 0px;
  gap: 15px;
}

.top_head_left_ul {
  display: flex;
  gap: 30px;
}

.top_head_right_ul,
.top_head_right,
.top_head_right_icon {
  display: flex;
  gap: 15px;
}
.top_head_right_icon {
  color: var(--bs-gray);
}

.top_head_line {
  height: 100%;
  width: 1px;
  background-color: #edeff2;
}

.top_head_right_icon li:hover {
  color: var(--bs-red);
}

.top_head_left_ul li:hover {
  color: var(--bs-red);
}
.top_head_right_ul li:hover {
  color: var(--bs-red);
}

@media screen and (max-width: 740px) {
  .top_head_left_ul {
    display: none;
  }
  .top_head {
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .header_top {
    display: none;
  }
}

/* navbar */
header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: -37px;
  user-select: none;
  background-color: white;
}
.navbar {
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  gap: 10px;
}

.nav_img {
  width: 200px;
  height: 50px;
  background-image: url(./img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.nav_text_ul {
  display: flex;
  gap: 40px;
  color: var(--bs-dark);
  font-weight: 600;
  font-size: 14px;
}

.nav_text_ul li {
  position: relative;
}

.nav_text_ul li > a {
  padding: 30px 0px;
}
.nav_text_ul li > a:hover {
  color: var(--bs-red);
  transition: all 0.2s linear;
  font-weight: 600;
}

.fa-chevron-down {
  margin-left: 10px;
}

.nav_right {
  display: flex;
  gap: 26px;
  font-size: 22px;
  color: var(--bs-gray-dark);
}

.sub_menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-top: 3px solid var(--bs-red);
  border-radius: 8px;
  padding: 10px 20px;
  top: 55px;
  left: -20px;
}

.fa-caret-up {
  position: absolute;
  color: var(--bs-red);
  top: -10px;
}

.sub_menu li > a {
  white-space: nowrap;
}

.sub_menu li {
  padding: 10px 0px;
}

.nav_right a:hover {
  color: var(--bs-red);
  transition: all 0.2s linear;
}

.nav_menu {
  display: none;
}

.nav_menu i {
  cursor: pointer;
}

.nav_menu i:hover {
  color: var(--bs-red);
}

.sub_a {
  white-space: nowrap;
}

.fa-cart-shopping {
  position: relative;
}
.cart_shop_count {
  background-color: var(--bs-red);
  color: white;
  font-size: 10px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 22px;
  min-width: 22px;
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  top: -14px;
  right: -15px;
  opacity: 0;
}

@media screen and (max-width: 1055px) {
  .nav_text_ul {
    gap: 25px;
  }
  .nav_right {
    gap: 20px;
  }
}

@media screen and (max-width: 970px) {
  .nav_text {
    display: none;
    position: absolute;
    top: 90px;
    left: 0px;
    padding: 20px;
    background-color: var(--bs-gray-dark);
    width: 100%;
  }
  .nav_text_ul {
    flex-direction: column;
    gap: 15px;
    color: white;
    font-weight: 400;
  }
  .nav_text_ul li > a {
    padding: 10px 150px 10px 0px;
  }
  .sub_menu {
    position: unset;
    background-color: unset;
    box-shadow: unset;
    border-top: unset;
    border-radius: 0px;
    padding: 0px 10px;
  }
  .sub_menu i {
    display: none;
  }

  .nav_right {
    gap: 15px;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  header {
    top: 0px;
  }
}
.dsp_block {
  display: block;
}

/* slider */
.discount_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
  background-color: var(--bs-dark);
  padding: 10px 0px;
}

.discount_info a {
  color: #cebd9c;
  border-bottom: 2px solid #cebd9c;
  padding-bottom: 4px;
}

@media screen and (max-width: 970px) {
  .discount_info {
    display: none;
  }
}

.slider {
  user-select: none;
  overflow: hidden;
}

.slider_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-image: url(./img/h1_hero1.jpg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgnav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 50px;
  background-color: var(--bs-dark);
  opacity: 20%;
  cursor: pointer;
}

.imgnav:hover {
  opacity: 100%;
  transition: all 0.2s linear;
}

.imgnav i {
  color: white;
}

.slider_text_area {
  display: flex;
  align-items: center;
  width: 80%;
}

.slider_box {
  text-align: center;
  max-width: 540px;
}

.slider_box h3 {
  font-size: 50px;
  font-weight: 400;
  color: var(--bs-red);
  font-family: "Clicker Script", cursive;
}

.slider_box h1 {
  font-size: 45px;
  font-weight: 500;
  color: var(--bs-dark);
}

.slider_box p {
  font-size: 14px;
  color: var(--bs-gray);
  line-height: 2;
  padding: 0px 40px;
}

.slider_box button {
  font-family: "Poppins", sans-serif;
  margin-top: 30px;
  padding: 15px 50px;
  border: none;
  outline: none;
  background-color: var(--bs-dark);
  border: 1px solid var(--bs-dark);
  color: white;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.slider_box button:hover {
  background-color: transparent;
  color: var(--bs-dark);
  transition: all 0.3s linear;
}

@media screen and (max-width: 970px) {
  .slider_img {
    height: 55vh;
  }
}

@media screen and (max-width: 575px) {
  .slider_img {
    height: 45vh;
  }
}
@media screen and (max-width: 400px) {
  .slider_img {
    height: 40vh;
  }
}

@media screen and (max-width: 600px) {
  .imgnav {
    display: none;
  }
  .slider_img {
    justify-content: center;
  }
  .slider_box h1 {
    font-size: 35px;
  }
  .slider_box p {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 430px) {
  .slider_box h1 {
    font-size: 25px;
  }
  .slider_box h3 {
    font-size: 40px;
  }
  .slider_box p {
    padding: 0px;
  }
}

/* fashion_type */
.fashion_type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.fashion_type_img {
  overflow: hidden;
  position: relative;
}

.fashion_type_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.fashion_type_info {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  transition: all 0.3s linear;
}

.fashion_type_info h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  white-space: nowrap;
}

.fashion_type_link {
  color: #cebd9c;
  border-bottom: 2px solid #cebd9c;
  padding-bottom: 4px;
  opacity: 0%;
  transition: all 0.3s linear;
}

.fashion_type_filtr {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    var(--bs-dark) 0%,
    rgba(0, 0, 0, 0.24413515406162467) 30%,
    rgba(0, 0, 0, 0) 100%
  );
}

.fashion_type_box:hover .fashion_type_info {
  top: 78%;
}

.fashion_type_box:hover .fashion_type_link {
  opacity: 100%;
}
.fashion_type_box:hover .fashion_type_img img {
  transform: scale(1.04);
  overflow: hidden;
}

@media screen and (max-width: 970px) {
  .fashion_type {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 770px) {
  .fashion_type {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 575px) {
  .fashion_type {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* trending */
.trending {
  user-select: none;
}

.trending_top {
  display: flex;
  justify-content: space-between;
  color: var(--bs-dark);
  border-bottom: 1px solid #edeff2;
  margin-bottom: 40px;
}

.trending_top_filtr {
  display: flex;
  gap: 15px;
}

.trending_top h2 {
  font-size: 26px;
  font-weight: 600;
}

.trending_top_filtr h4 {
  font-size: 14px;
  font-weight: 600;
  padding: 0px 12px 36px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

.trending_top_filtr h4:hover {
  border-bottom: 4px solid var(--bs-red);
}

@media screen and (max-width: 670px) {
  .trending_top {
    flex-direction: column;
  }
  .trending_top h2 {
    margin-bottom: 10px;
  }
  .trending_top_filtr h4 {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 350px) {
  .trending_top_filtr {
    flex-wrap: wrap;
    gap: 0px;
  }
  .trending_top h2 {
    text-align: center;
  }
}

/* trend_slider */

.trend_content {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.trend_slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}
.trend_box {
  padding-bottom: 30px;
}
.trend_box_img {
  display: flex;
  position: relative;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.trend_box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.trend_box_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.trend_box_info h3 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--bs-gray-dark);
  transition: all 0.3s linear;
  cursor: pointer;
}

.trend_info_price {
  display: flex;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.trend_info_price span {
  text-decoration: line-through;
  color: #cebd9c;
}

.trend_info_price {
  color: var(--bs-gray);
}

.trend_box:hover .trend_box_info h3 {
  color: var(--bs-red);
}

.trend_box:hover .trend_box_img img {
  transform: scale(1.04);
}

.trend_box:hover .trend_box_buttons {
  opacity: 100%;
}

.trend_box_buttons {
  opacity: 0%;
  position: absolute;
  display: flex;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
}

.trend_button {
  width: 64px;
  height: 50px;
  background-color: white;
  color: var(--bs-dark);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  cursor: pointer;
}

.trend_button:hover {
  background-color: var(--bs-red);
  color: white;
}

@media screen and (max-width: 970px) {
  .trend_box_four {
    display: none;
  }
  .trend_slider {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 770px) {
  .trend_box_three {
    display: none;
  }
  .trend_slider {
    grid-template-columns: repeat(2, 1fr);
  }
  .trend_content {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 480px) {
  .trend_box_two {
    display: none;
  }
  .trend_slider {
    grid-template-columns: repeat(1, 1fr);
  }
  .trend_content {
    justify-content: center;
  }
}

.trend_slider_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 30px;
  height: 30px;
  color: var(--bs-gray);
  cursor: pointer;
}

.trend_slider_nav i {
  transition: all 0.3s linear;
}

.trend_slider_nav:hover i {
  color: var(--bs-red);
}

/* customer testimonial */
.customer_testimonial {
  background-color: #f3ead8;
  padding: 80px 0px;
  margin-bottom: 100px;
  user-select: none;
}

.customer_testimonial_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.testimonial_box_info_hide {
  overflow: hidden;
}
.testimonial_box_info {
  max-width: 680px;
  text-align: center;
}

.testimonial_box_info h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--bs-dark);
  margin-bottom: 40px;
}

.testimonial_box_info_p {
  font-size: 20px;
  margin-bottom: 32px;
  line-height: 1.7;
  color: var(--bs-gray-dark);
}

.testimonial_info_customer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  gap: 20px;
}

.testimonial_info_customer span {
  font-size: 13px;
  font-weight: 500;
}
.testimonial_info_customer p {
  font-size: 15px;
  font-weight: 600;
  color: var(--bs-gray);
}

a {
  cursor: pointer;
}

.testimonial_customer_img {
  width: 60px;
  height: 60px;
}

.testimonial_customer_img img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 970px) {
  .testimonial_box_info h2 {
    margin-bottom: 30px;
    font-size: 28px;
  }
  .testimonial_box_info_p {
    font-size: 17px;
  }
  .customer_testimonial_box {
    gap: 50px;
  }
}

@media screen and (max-width: 770px) {
  .customer_testimonial {
    margin-bottom: 70px;
  }
}

@media screen and (max-width: 570px) {
  .customer_testimonial {
    padding: 70px 0px;
  }
  .testimonial_box_info h2 {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .testimonial_box_info_p {
    font-size: 15px;
  }
  .customer_testimonial_box {
    gap: 20px;
  }
}
@media screen and (max-width: 430px) {
  .customer_testimonial {
    padding: 60px 0px;
  }
  .testimonial_box_info h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  .testimonial_box_info_p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

/* topScroll button */
.top_scroll {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--bs-red);
  color: white;
  font-size: 20px;
  height: 45px;
  width: 45px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.top_scroll:active {
  background-color: rgb(255, 60, 60);
}

/* you may like */
.may_like_title h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: var(--bs-dark);
}

.may_like_title {
  margin-bottom: 40px;
}

.like_box_buttons {
  opacity: 0%;
  position: absolute;
  display: flex;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
}

.like_button {
  width: 64px;
  height: 50px;
  background-color: white;
  color: var(--bs-dark);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  cursor: pointer;
}

.like_button:hover {
  background-color: var(--bs-red);
  color: white;
}

.like_box {
  margin-bottom: 30px;
}

.like_box_img {
  display: flex;
  position: relative;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.like_box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.like_box:hover .trend_box_info h3 {
  color: var(--bs-red);
}

.like_box:hover .like_box_img img {
  transform: scale(1.04);
}

.like_box:hover .like_box_buttons {
  opacity: 100%;
}

@media screen and (max-width: 480px) {
  .may_like_title h2 {
    font-size: 28px;
  }
}

/* news */
.news {
  background-color: #f6f6f6;
  padding: 80px 0px 60px;
}

.latest_news h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: var(--bs-dark);
  margin-bottom: 35px;
}

.news_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.news_box_img {
  display: flex;
  cursor: pointer;
}

.news_box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news_box_text h4 {
  font-size: 15px;
  font-weight: 400;
  color: var(--bs-gray);
  margin: 10px 0px;
}

.news_box_text h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--bs-dark);
  margin-bottom: 12px;
  transition: all 0.2s linear;
  cursor: pointer;
}

.news_box_text p {
  font-size: 14px;
  margin-bottom: 20px;
  color: var(--bs-gray);
  line-height: 1.7;
}

.news_box_text a {
  text-decoration: underline;
  font-weight: 600;
  color: var(--bs-gray-dark);
}

.news_box:hover .news_box_text h3 {
  color: var(--bs-red);
}

@media screen and (max-width: 970px) {
  .news_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
@media screen and (max-width: 575px) {
  .news_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
}

@media screen and (max-width: 480px) {
  .latest_news h2 {
    font-size: 28px;
  }
}

/* Last Home */
.last_home_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.last_home_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.last_home {
  padding: 70px 0px;
}

.last_box_img {
  display: flex;
  margin-bottom: 25px;
}

.last_home_box h5 {
  margin-bottom: 12px;
  font-weight: 600;
  color: var(--bs-gray-dark);
  font-size: 16px;
}

.last_home_box p {
  font-size: 14px;
  color: var(--bs-gray);
}

@media screen and (max-width: 970px) {
  .last_home_content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 575px) {
  .last_home_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
}

/* footer contact */
footer {
  background-color: #111111;
}

.footer_contact {
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
  margin-bottom: 60px;
}

.footer_contact_text h3 {
  color: white;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 12px;
}

.footer_contact_text p {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.email_contact_text {
  display: flex;
  gap: 10px;
}

.email_contact_text input {
  font-family: "Poppins", sans-serif;
  width: 390px;
  padding: 20px 24px;
  font-size: 15px;
  outline: none;
  border: none;
}
.email_contact_text input::placeholder {
  font-size: 15px;
  color: var(--bs-dark);
}

.email_contact_text button {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: white;
  padding: 20px 24px;
  background-color: var(--bs-red);
  outline: none;
  border: none;
  cursor: pointer;
}

.social_contact_text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 24px;
  color: #677f8b;
}

.social_contact_text i:hover {
  color: var(--bs-red);
  cursor: pointer;
}

@media screen and (max-width: 970px) {
  .footer_contact {
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (max-width: 770px) {
  .email_contact_text {
    display: flex;
    width: 100%;
  }
  .email_contact_text input {
    width: 100%;
  }
}

@media screen and (max-width: 575px) {
  .email_contact_text {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .email_contact_text input {
    width: 100%;
  }
  .email_contact_text button {
    width: 100%;
  }
  .footer_top {
    display: block;
  }
}

/* footer bottom */
.footer_bottom {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  padding-bottom: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.footer_bottom_img {
  padding-right: 50px;
}
.footer_bottom_img img {
  display: flex;
  width: 200px;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.footer_bottom_box {
  width: 240px;
}

.footer_box {
  flex: 1;
  min-width: 230px;
}

.footer_box h4 {
  color: white;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
}
.footer_box li {
  font-size: 15px;
  color: #bbb9b5;
  line-height: 2;
}

.footer_box li:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1040px) {
  .footer_bottom_box {
    width: 100%;
    margin-bottom: 20px;
  }
  .footer_bottom {
    gap: 30px;
  }
}
@media screen and (max-width: 300px) {
  .footer_bottom_img img {
    width: 100%;
  }
}

/* Footer Last */
.footer_last {
  padding: 30px 0px;
}

.footer_last p {
  color: #bbb9b5;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.footer_last span {
  color: var(--bs-red);
  white-space: nowrap;
  user-select: none;
  cursor: none;
}

/* contact */
.contact_title_box h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  color: var(--bs-dark);
  margin-bottom: 12px;
}
.contact_title {
  background-color: #f3ead8;
  margin-bottom: 50px;
}

.contact_title_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px 0px;
}

.contact_title_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #74706b;
  font-size: 13px;
}

.contact_line {
  width: 1px;
  height: 12px;
  background-color: #74706b;
  margin: 0px 8px;
}

@media screen and (max-width: 575px) {
  .contact_title_box h2 {
    font-size: 30px;
  }
}

/* contact location */
.contact_location {
  margin-bottom: 70px;
}

/* contact last */
.contact_last {
  margin-bottom: 70px;
}

.contact_last h2 {
  font-size: 28px;
  font-weight: 600;
  color: var(--bs-dark);
  margin-bottom: 20px;
}

.contact_last_box input {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 1px solid #e5e6e9;
  height: 48px;
  padding-left: 18px;
  font-size: 12px;
  width: 100%;
}

.form_control {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 1px solid #e5e6e9;
  padding: 14px 18px;
  font-size: 12px;
  resize: none;
  width: 100%;
}

.contact_last_box input::placeholder,
.form_control::placeholder {
  color: #b9b9b9;
  font-weight: 400;
}

.contact_last_box {
  display: flex;
  gap: 60px;
}
.contact_last_inform {
  width: 350px;
}

.contact_last_inputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact_input_two {
  display: flex;
  gap: 25px;
}

.contact_last_button button {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 18px 44px;
  border: 1px solid var(--bs-red);
  color: var(--bs-red);
  background-color: white;
  outline: none;
  transition: all 0.3s linear;
  cursor: pointer;
}

.contact_last_button button:hover {
  background-color: var(--bs-red);
  color: white;
}

.contact_last_inform {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact_last_inform_box {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 5px;
}

.contact_last_inform_box i {
  font-size: 28px;
  color: #8a8a8a;
  width: 55px;
  display: flex;
  justify-content: center;
}

.inform_box_text h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 4px;
}
.inform_box_text p {
  font-size: 14px;
  color: #8a8a8a;
  font-weight: 500;
}

@media screen and (max-width: 970px) {
  .contact_last_box {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 575px) {
  .contact_input_two {
    flex-direction: column;
    gap: 30px;
  }
  .contact_last_inform {
    width: 100%;
  }
  .contact_last_inform_box {
    white-space: unset;
  }
  .contact_last h2 {
    font-size: 26px;
  }
  .contact_location {
    margin-bottom: 50px;
  }
  .contact_last {
    margin-bottom: 50px;
  }
}

/* login */
.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  user-select: none;
}

.login_box {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 55px;
  box-shadow: 0px 10px 30px 0px rgba(13, 12, 13, 0.2);
  min-width: 700px;
}

.login_box h2 {
  text-align: center;
  font-weight: 600;
  font-size: 28px;
  margin-bottom: 16px;
}
.login_box p {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
  margin-bottom: 15px;
}

.login_box_inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 35px 0px 75px;
}

.login_box_inputs input {
  font-family: "Poppins", sans-serif;
  outline: none;
  border: 2px solid #e2e2e2;
  padding: 14px 18px;
  font-size: 14px;
  width: 100%;
  margin-bottom: 25px;
}

.login_box_inputs input::placeholder {
  color: #a9a9a9;
  font-weight: 400;
}

.login_box_inputs label {
  font-weight: 600;
  margin-bottom: 8px;
}

.login_inputs_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.login_inputs_bottom div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.login_inputs_bottom label {
  white-space: nowrap;
  margin-bottom: unset;
  cursor: pointer;
}

.login_inputs_bottom input {
  margin-bottom: unset;
  cursor: pointer;
}

.login_inputs_bottom a {
  color: var(--bs-red);
  font-size: 14px;
}

.login_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login_bottom button {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding: 18px 44px;
  background-color: var(--bs-red);
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}

.login_bottom button:active {
  background-color: rgb(233, 0, 0);
}

.login_bottom p {
  margin-bottom: unset;
}

.login_bottom a {
  white-space: nowrap;
  color: var(--bs-red);
}

@media screen and (max-width: 760px) {
  .login_box {
    min-width: unset;
    width: 100%;
    margin: 0px 20px;
  }
  .login_box_inputs {
    padding: 35px 0px;
  }
}
@media screen and (max-width: 580px) {
  .login_bottom {
    flex-direction: column;
    gap: 20px;
  }
  .login_box {
    padding: 30px;
  }
}
@media screen and (max-width: 430px) {
  .login_inputs_bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .login_box_inputs {
    padding: 15px 0px;
  }
}
#login_check {
  accent-color: var(--bs-red);
  width: 18px;
  height: 18px;
}

/* cart product */
.cart_product {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  margin-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  user-select: none;
  position: relative;
}
.cart_product_left {
  display: flex;
  align-items: center;
}

.product_img {
  height: 80px;
  width: 60px;
}

.product_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.product_name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: var(--bs-dark);
}

.cart_product_right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.product_quantity {
  display: flex;
  align-items: center;
  border: 1px solid rgb(222, 222, 222);
  overflow: hidden;
  border-radius: 5px;
}

.product_count {
  padding: 6px 12px;
  color: var(--bs-dark);
  font-weight: 600;
  border-left: 1px solid rgb(222, 222, 222);
  border-right: 1px solid rgb(222, 222, 222);
  width: 45px;
  text-align: center;
}

.product_minus,
.product_plus {
  background-color: var(--bs-red);
  color: white;
  padding: 6px 8px;
  cursor: pointer;
  width: 30px;
}
.product_minus:active,
.product_plus:active {
  background-color: rgb(229, 0, 0);
}

.product_price {
  font-size: 18px;
  font-weight: 600;
  color: var(--bs-dark);
  width: 100px;
  text-align: center;
}

.product_delete {
  font-size: 18px;
  color: var(--bs-gray);
  cursor: pointer;
}
.product_delete:hover {
  color: var(--bs-red);
}

.prduct_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media screen and (max-width: 850px) {
  .cart_product_right {
    justify-content: unset;
    width: unset;
  }
  .prduct_mobile {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .product_delete {
    position: absolute;
    right: 12px;
    top: 25%;
    transform: translate(-50%, -50%);
  }
  .product_price {
    position: absolute;
    right: -8px;
    top: 77%;
    width: unset;
    transform: translate(-50%, -50%);
  }
  .product_name {
    white-space: unset;
  }
  .cart_product {
    padding: 20px 60px 20px 20px;
  }
}

@media screen and (max-width: 500px) {
  .product_name {
    font-size: 16px;
    line-height: 1.2;
  }
  .cart_product {
    gap: 20px;
  }
}

.cart_empty h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: var(--bs-gray);
}

.cart_empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  margin-bottom: 50px;
}
