@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0px 20px;
  margin: 0 auto;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #ff2020;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

/* header_top */
.header_top {
  border-bottom: 1px solid #edeff2;
}

.top_head {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: var(--bs-dark);
  padding: 8px 0px;
  gap: 15px;
}

.top_head_left_ul {
  display: flex;
  gap: 30px;
}

.top_head_right_ul,
.top_head_right,
.top_head_right_icon {
  display: flex;
  gap: 15px;
}
.top_head_right_icon {
  color: var(--bs-gray);
}

.top_head_line {
  height: 100%;
  width: 1px;
  background-color: #edeff2;
}

.top_head_right_icon li:hover {
  color: var(--bs-red);
}

@media screen and (max-width: 740px) {
  .top_head_left_ul {
    display: none;
  }
  .top_head {
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .header_top {
    display: none;
  }
}
/* header_top end*/

/* navbar */
header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: -37px;
  user-select: none;
  background-color: white;
}
.navbar {
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  gap: 10px;
}

.nav_img {
  width: 200px;
  height: 50px;
  background-image: url(./img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.nav_text_ul {
  display: flex;
  gap: 40px;
  color: var(--bs-dark);
  font-weight: 600;
  font-size: 14px;
}

.nav_text_ul li {
  position: relative;
}

.nav_text_ul li > a {
  padding: 30px 0px;
}
.nav_text_ul li > a:hover {
  color: var(--bs-red);
  transition: all 0.2s linear;
}

.fa-chevron-down {
  margin-left: 10px;
}

.nav_right {
  display: flex;
  gap: 26px;
  font-size: 22px;
  color: var(--bs-gray-dark);
}

.sub_menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-top: 3px solid var(--bs-red);
  border-radius: 8px;
  padding: 10px 20px;
  top: 55px;
  left: -20px;
}

.fa-caret-up {
  position: absolute;
  color: var(--bs-red);
  top: -10px;
}

.sub_menu li > a {
  white-space: nowrap;
}

.sub_menu li {
  padding: 10px 0px;
}

.nav_right a:hover {
  color: var(--bs-red);
  transition: all 0.2s linear;
}

.nav_menu {
  display: none;
}

.nav_menu i {
  cursor: pointer;
}

.nav_menu i:hover {
  color: var(--bs-red);
}

.sub_a {
  white-space: nowrap;
}

@media screen and (max-width: 1055px) {
  .nav_text_ul {
    gap: 25px;
  }
  .nav_right {
    gap: 20px;
  }
}

@media screen and (max-width: 970px) {
  .nav_text {
    display: none;
    position: absolute;
    top: 90px;
    left: 0px;
    padding: 20px;
    background-color: var(--bs-gray-dark);
    width: 100%;
  }
  .nav_text_ul {
    flex-direction: column;
    gap: 15px;
    color: white;
    font-weight: 400;
  }
  .nav_text_ul li > a {
    padding: 10px 150px 10px 0px;
  }
  .sub_menu {
    position: unset;
    background-color: unset;
    box-shadow: unset;
    border-top: unset;
    border-radius: 0px;
    padding: 0px 10px;
  }
  .sub_menu i {
    display: none;
  }

  .nav_right {
    gap: 15px;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  header {
    top: 0px;
  }
}
.dsp_block {
  display: block;
}
/* navbar end*/

/* slider */
.discount_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
  background-color: var(--bs-dark);
  padding: 10px 0px;
}

.discount_info a {
  color: #cebd9c;
  border-bottom: 2px solid #cebd9c;
  padding-bottom: 4px;
}

@media screen and (max-width: 970px) {
  .discount_info {
    display: none;
  }
}

.slider {
  user-select: none;
  overflow: hidden;
}

.slider_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-image: url(./img/h1_hero1.jpg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgnav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 50px;
  background-color: var(--bs-dark);
  opacity: 20%;
  cursor: pointer;
}

.imgnav:hover {
  opacity: 100%;
  transition: all 0.2s linear;
}

.imgnav i {
  color: white;
}

.slider_text_area {
  display: flex;
  align-items: center;
  width: 80%;
}

.slider_box {
  text-align: center;
  max-width: 540px;
}

.slider_box h3 {
  font-size: 50px;
  font-weight: 400;
  color: var(--bs-red);
  font-family: "Clicker Script", cursive;
}

.slider_box h1 {
  font-size: 45px;
  font-weight: 500;
  color: var(--bs-dark);
}

.slider_box p {
  font-size: 14px;
  color: var(--bs-gray);
  line-height: 2;
  padding: 0px 40px;
}

.slider_box button {
  margin-top: 30px;
  padding: 15px 50px;
  border: none;
  outline: none;
  background-color: var(--bs-dark);
  border: 1px solid var(--bs-dark);
  color: white;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer;
}

.slider_box button:hover {
  background-color: transparent;
  color: var(--bs-dark);
  transition: all 0.3s linear;
}

@media screen and (max-width: 600px) {
  .imgnav {
    display: none;
  }
  .slider_img {
    justify-content: center;
  }
  .slider_box h1 {
    font-size: 35px;
  }
  .slider_box p {
    padding: 0px 20px;
  }
}

@media screen and (max-width: 430px) {
  .slider_box h1 {
    font-size: 25px;
  }
  .slider_box h3 {
    font-size: 40px;
  }
  .slider_box p {
    padding: 0px;
  }
}
/* slider end */

/* fashion_type */
.fashion_type {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.fashion_type_img {
  overflow: hidden;
  position: relative;
}

.fashion_type_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.fashion_type_info {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  transition: all 0.3s linear;
}

.fashion_type_info h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 15px;
  white-space: nowrap;
}

.fashion_type_link {
  color: #cebd9c;
  border-bottom: 2px solid #cebd9c;
  padding-bottom: 4px;
  opacity: 0%;
  transition: all 0.3s linear;
}

.fashion_type_filtr {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    var(--bs-dark) 0%,
    rgba(0, 0, 0, 0.24413515406162467) 30%,
    rgba(0, 0, 0, 0) 100%
  );
}

.fashion_type_box:hover .fashion_type_info {
  top: 78%;
}

.fashion_type_box:hover .fashion_type_link {
  opacity: 100%;
}
.fashion_type_box:hover .fashion_type_img img {
  transform: scale(1.04);
  overflow: hidden;
}

@media screen and (max-width: 970px) {
  .fashion_type {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 575px) {
  .fashion_type {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* trending */
.trending {
  user-select: none;
}

.trending_top {
  display: flex;
  justify-content: space-between;
  color: var(--bs-dark);
  border-bottom: 1px solid #edeff2;
  margin-bottom: 40px;
}

.trending_top_filtr {
  display: flex;
  gap: 15px;
}

.trending_top h2 {
  font-size: 26px;
  font-weight: 600;
}

.trending_top_filtr h4 {
  font-size: 14px;
  font-weight: 600;
  padding: 0px 12px 36px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
}

.trending_top_filtr h4:hover {
  border-bottom: 4px solid var(--bs-red);
}

@media screen and (max-width: 670px) {
  .trending_top {
    flex-direction: column;
  }
  .trending_top h2 {
    margin-bottom: 10px;
  }
  .trending_top_filtr h4 {
    padding: 10px 12px;
  }
}

@media screen and (max-width: 350px) {
  .trending_top_filtr {
    flex-wrap: wrap;
    gap: 0px;
  }
  .trending_top h2 {
    text-align: center;
  }
}

/* trend_slider */

.trend_content {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}
.trend_slider {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}
.trend_box {
  padding-bottom: 30px;
}
.trend_box_img {
  display: flex;
  position: relative;
  height: auto;
  overflow: hidden;
}

.trend_box_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s linear;
}

.trend_box_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.trend_box_info h3 {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  color: var(--bs-gray-dark);
  transition: all 0.3s linear;
}

.trend_info_price {
  display: flex;
  gap: 12px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.trend_info_price span {
  text-decoration: line-through;
  color: #cebd9c;
}

.trend_info_price {
  color: var(--bs-gray);
}

.trend_box:hover .trend_box_info h3 {
  color: var(--bs-red);
}

.trend_box:hover .trend_box_img img {
  transform: scale(1.04);
}

.trend_box:hover .trend_box_buttons {
  opacity: 100%;
}

.trend_box_buttons {
  opacity: 0%;
  position: absolute;
  display: flex;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s linear;
}

.trend_button {
  width: 64px;
  height: 50px;
  background-color: white;
  color: var(--bs-dark);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
}

.trend_button:hover {
  background-color: var(--bs-red);
  color: white;
}

@media screen and (max-width: 970px) {
  .trend_box_four {
    display: none;
  }
  .trend_slider {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 770px) {
  .trend_box_three {
    display: none;
  }
  .trend_slider {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .trend_box_two {
    display: none;
  }
  .trend_slider {
    grid-template-columns: repeat(1, 1fr);
  }
}

.trend_slider_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 30px;
  height: 30px;
  color: var(--bs-gray);
  cursor: pointer;
}

.trend_slider_nav i {
  transition: all 0.3s linear;
}

.trend_slider_nav:hover i {
  color: var(--bs-red);
}
