@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

li {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1300px;
  padding: 0px 20px;
  margin: 0 auto;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #ff2020;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
}

/* header_top */
.header_top {
  border-bottom: 1px solid #edeff2;
}

.top_head {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: var(--bs-dark);
  padding: 8px 0px;
  gap: 15px;
}

.top_head_left_ul {
  display: flex;
  gap: 30px;
}

.top_head_right_ul,
.top_head_right,
.top_head_right_icon {
  display: flex;
  gap: 15px;
}
.top_head_right_icon {
  color: var(--bs-gray);
}

.top_head_line {
  height: 100%;
  width: 1px;
  background-color: #edeff2;
}

.top_head_right_icon li:hover {
  color: var(--bs-red);
}

@media screen and (max-width: 740px) {
  .top_head_left_ul {
    display: none;
  }
  .top_head {
    justify-content: center;
  }
}

@media screen and (max-width: 560px) {
  .header_top {
    display: none;
  }
}
/* header_top end*/

/* navbar */
header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: -35px;
}
.navbar {
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.navbar_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  gap: 10px;
}

.nav_img {
  width: 200px;
  height: 50px;
  background-image: url(./img/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.nav_text_ul {
  display: flex;
  gap: 40px;
  color: var(--bs-dark);
  font-weight: 600;
  font-size: 14px;
}

.nav_text_ul li {
  position: relative;
}

.nav_text_ul li > a {
  padding: 30px 0px;
}
.nav_text_ul li > a:hover {
  color: var(--bs-red);
  transition: all 0.2s linear;
}

/* .nav_text_ul li:hover .sub_menu {
  display: block;
} */

.fa-chevron-down {
  margin-left: 10px;
}

.nav_right {
  display: flex;
  gap: 26px;
  font-size: 22px;
  color: var(--bs-gray-dark);
}

.sub_menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-top: 3px solid var(--bs-red);
  border-radius: 8px;
  padding: 10px 20px;
  top: 56px;
  left: -20px;
}

.fa-caret-up {
  position: absolute;
  color: var(--bs-red);
  top: -10px;
}

.sub_menu li > a {
  white-space: nowrap;
}

.sub_menu li {
  padding: 10px 0px;
}

.nav_right a:hover {
  color: var(--bs-red);
  transition: all 0.2s linear;
}

.nav_menu {
  display: none;
}

.nav_menu i {
  cursor: pointer;
}

.nav_menu i:hover {
  color: var(--bs-red);
}

.sub_a {
  white-space: nowrap;
}

@media screen and (max-width: 1055px) {
  .nav_text_ul {
    gap: 25px;
  }
  .nav_right {
    gap: 20px;
  }
}

@media screen and (max-width: 970px) {
  .nav_text {
    display: none;
    position: absolute;
    top: 90px;
    left: 0px;
    padding: 20px;
    background-color: var(--bs-gray-dark);
    width: 100%;
  }
  .nav_text_ul {
    flex-direction: column;
    gap: 15px;
    color: white;
    font-weight: 400;
  }
  .nav_text_ul li > a {
    padding: 10px 150px 10px 0px;
  }
  .sub_menu {
    /* display: block; */
    position: unset;
    background-color: unset;
    box-shadow: unset;
    border-top: unset;
    border-radius: 0px;
    padding: 0px 10px;
    top: 56px;
    left: -20px;
  }
  .sub_menu i {
    display: none;
  }

  .nav_right {
    gap: 15px;
  }
  .nav_menu {
    display: block;
  }
}

@media screen and (max-width: 560px) {
  header {
    top: 0px;
  }
}
.dsp_block {
  display: block;
}
/* navbar end*/

/* slider */
.slider_img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70vh;
  background-image: url(./img/h1_hero1.jpg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.imgnav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 50px;
  background-color: var(--bs-dark);
  opacity: 20%;
}

.imgnav:hover {
  opacity: 100%;
  transition: all 0.2s linear;
}

.imgnav i {
  color: white;
}

.slider_text_area {
  display: flex;
  align-items: center;
  width: 80%;
}

.slider_box {
  text-align: center;
  max-width: 540px;
}

.slider_box h3 {
  font-size: 30px;
  font-weight: 400;
  color: var(--bs-red);
}

.slider_box h1 {
  font-size: 45px;
  font-weight: 500;
  color: var(--bs-dark);
}

.slider_box p {
  font-size: 14px;
  color: var(--bs-gray);
  line-height: 2;
  padding: 0px 40px;
}

.slider_box button {
  margin-top: 30px;
  padding: 15px 50px;
  border: none;
  outline: none;
  background-color: var(--bs-dark);
  border: 1px solid var(--bs-dark);
  color: white;
  font-weight: 600;
  font-size: 13px;
}

.slider_box button:hover {
  background-color: transparent;
  color: var(--bs-dark);
  transition: all 0.3s linear;
}
